@media (max-width: 1280px){
    .container {
        max-width: 1140px;
    }
    .hero-title {
        font-size: 130px;
    }
    .hero-img img {
        width: 202px;
    }
    .hero-img-3 img {
        width: 300px;
    }
    .hero-subtitle {
        gap: 70px;
    }
    .exceptional-title {
        font-size: 34px;
    }
    .exceptional-text .text {
        font-size: 80px;
    }
    .requirements-title .title-1 {
        font-size: 72px;
    }
    .requirements-title .title-2 > div {
        font-size: 96px;
    }
    .requirements-title .title-3 > div {
        font-size: 80px;
    }
    .requirements-image img {
        border-radius: 20px;
    }
    .requirements-image {
        width: 150px;
    }
    .requirements-image.image-3 {
        width: 230px;
        right: 10em;
    }
    .requirements-arrow, .accomplish-arrow {
        width: 100px;
    }
    .solutions-title {
        font-size: 48px;
    }
    #workflow {
        padding-top: 40px;
    }
    .workflow-content-train {
        padding-bottom: 110px;
    }
    .workflow-content {
        flex-basis: 330px;
        padding: 40px 24px;
        border-radius: 24px;
        min-height: 400px;
    }
    .workflow-title-outer {
        margin-bottom: 40px;
        margin-top: 24px;
    }
    .workflow-title {
        font-size: 48px;
    }
    .workflow-content-title {
        font-size: 32px;
        margin-bottom: 32px;
    }
    .workflow-content-body {
        font-size: 24px;
    }
    .partners-logo .partners-logo-img {
        padding: 24px;
    }
    .partners-logo div > img {
        height: 32px;
    }
    .cta-title {
        font-size: 80px;
    }
    .cta-title .title-1 > span {
        width: 64px;
    }
    .cta-button {
        font-size: 20px;
        padding: 24px;
        min-height: 72px;
    }
    .footer-title {
        font-size: 80px;
    }
    .footer-contact-body {
        font-size: 24px;
    }
}
@media (max-width: 1199.98px){
    .container {
        max-width: 960px;
    }
}
@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 767.98px) {
    body {
        font-size: 14px;
        line-height: 21px;
    }
	.container {
        max-width: 100%;
        padding: 0 24px;
    }
}
@media (max-width: 575.98px) {
    .navigation {
        display: block;
        margin-top: 21px;
        margin-bottom: 66px;
        background: #DADCDF;
        text-align: center;
        position: fixed;
        padding: 96px 0;
    }
    .navigation-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 21px;
        margin-bottom: 66px;
    }
    .navigation-mobile-logo {
        flex: 0 0 83px;
    }
    .navigation-mobile-cta {
        display: flex;
        align-items: center;
        gap: 16px;
    } 
    .navigation-mobile-cta a, .navigation-mobile-cta .navigation-mobile-toggle {
        display: inline-block;
    }
    .navigation-mobile-cta a {
        padding: 8px 20px;
        min-height: 34px;
        line-height: 18px;
        font-size: 12px;
    }
    .navigation-mobile-toggle {
        width: 22px;
    }
    .hero {
        margin-bottom: 20px;
    }
    .hero.title-1 {
        gap: 5px;
        flex-direction: row-reverse;
    }
    .hero-title {
        font-size: 56px;
        letter-spacing: -0.1em;
    }
    .hero.title-2 .hero-title span {
        font-size: 56px;
    }
    .hero-img img {
        width: 65px;
        border-radius: 8px;
    }
    .hero-title span {
        font-size: 32px;
        margin-left: 4px;
    }
    .hero-img-3 img {
        width: 141px;
        border-radius: 20px;
    }
    .hero.title-3 {
        gap: 6px;
    }
    .hero-subtitle div {
        font-size: 26px;
    }
    .hero-subtitle-cta-mobile {
        padding: 20px 32px;
        gap: 14px;
        display: inline-flex;
        margin-top: 60px;
        margin-bottom: 95px;
    }
    .hero-subtitle-cta-mobile span {
        width: 44px;
        display: inline-block;
    }
    .exceptional-box {
        margin-bottom: 0;
    }
    .exceptional-title {
        font-size: 24px;
        margin: 0;
        gap: 24px;
    }
    .exceptional-img {
        border-radius: 28px;
        margin-top: 40px;
    }
    .exceptional-title img {
        width: 50px;
    }
    .exceptional-text {
        padding-top: 24px;
        margin-top: 80px;
    }
    .exceptional-text .text {
        font-size: 42px;
    }
    .requirements-wrap {
        height: 2700px;
    }
    .requirements-title .title-1 {
        font-size: 32px;
    }
    .requirements-title .title-2 > div {
        font-size: 56px;
    }
    .requirements-title .title-3 > div {
        font-size: 34px;
    }
    .requirements-image, .requirements-arrow-horizontal, .requirements-arrow {
        position: relative;
    }
    .requirements-arrow-horizontal {
        margin-bottom: 43px;
    }
    .requirements-image {
        width: 111px;
    }
    .requirements-arrow, .accomplish-arrow {
        width: 72px;
    }
    .gap-title-1, .gap-title-2, .gap-title-3 {
        width: 16px;
    }
    .requirements-box {
        width: 216px;
        height: 358px;
    }
    .requirements-left-spacer {
        padding-left: 24px;
    }
    .requirements-image.image-2 {
        width: 83px;
        bottom: 0;
    }
    .requirements-image.image-3 {
        width: 116px;
        right: 0;
    }
    .requirements-star {
        width: 40px;
        margin-left: 0;
        margin-top: 20px;
        position: relative;
    }
    .requirements-box-inner-dark {
        height: 95vh;
    }
    .accomplish-title {
        font-size: 32px;
    }
    .accomplish-title .title-1, .accomplish-title .title-3  {
        gap: 16px;
    }
    .accomplish-arrow {
        margin-top: 24px;
        display: inline-block;
    }
}
@media (max-width: 360px) {
	
}